@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '~@coreui/icons/css/all.css';
:root {
  --background: #012d5e;
--font-color: #ffffff;
--blue: #5882E3;
--light-blue: #254870;
--light-sky-blue: #87cefa;
--yellow: #ffc107;
--red: #dc3545;
--white: #fff;

--gutter-horizontal: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mb-2{
  margin-bottom: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}

.label {
  display: block;
  font-size: 1.6rem;
  color: var(--font-color);
}

.input {
  width: 100%;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: var(--white);
}

.textarea {
  width: 100%;
  height: 20rem;
  border: 1px solid #000;
  border-radius: 3px;
}

.header {
  height: auto;
}

.header__box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__text--primary {
  color:var(--yellow);
  margin-bottom: 6rem; 
  display: block;
  font-size: 4rem;
  font-weight: 500;
}

.patient-info__container {
  padding: 15rem  5rem 0 5rem;
}

.patient-info__text--primary {
  color: var(--yellow);
  font-size: 3.2rem;
  font-weight: 500;
}

.patient-info__box {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--light-blue);
  border-radius: 3px;
  padding: 2rem 1.5rem;
}

.patient-info__box--1 {
  width: 30%;
}

.patient-info__box--2 {
  width: 10%;
}

.patient-info__box--3 {
  width: 60%;
}

.timeline__container {
  padding: 0 5rem 15rem 5rem;
}

.timeline__text--primary {
  color: var(--yellow);
  font-size: 3.5rem;
  font-weight: 500;
}

.timeline__flex {
  display: flex;
}

.timeline__flex--1 {
  width: 50%;
  border-radius: 3px;
  border: 1px solid var(--yellow);
  padding: 1rem;
}

.timeline__flex--1 ul {
  padding-inline-start: 2rem;
}

.timeline__flex--1 ul li {
  font-size: 1.4rem;
  color: var(--font-color);
  margin-bottom: 1rem;
  list-style-position: outside;
  border: 1px solid var(--light-blue);
  border-radius: 3px;
}

.timeline__flex--1 li .timeline__list {
  padding: .5rem;
  background-color: var(--light-blue);
  color: var(--yellow);
}
.timeline__flex--1 li .timeline__list:hover {
  background-color: var(--blue);
}
.timeline__flex--1 li .timeline__list span {
  font-size: 1.4rem;
}

.timeline__flex--2 {
  width: 50%;
  border-radius: 3px;
  height: 100%;
  border: 1px solid var(--light-blue);
  padding: 2rem 1.5rem;
}
.timeline__flex--2 .box {
  display: flex;
}
.timeline__flex--2 .box .from {
  width: 70%;
}
.timeline__flex--2 .box .to {
  width: 30%;
}

.timeline__flex--2 .box .location-type {
  width: 40%;
}
.timeline__flex--2 .box .location-name {
  width: 60%;
}

.timeline__card {
  display: none;
  width: 100%;
  max-width: 800px;
  background: var(--background);
  position: relative;
}

.timeline__card:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 15%;
  bottom: 0px;
  width: 4px;
  border-left: 1px dotted var(--light-blue);
}
.timeline__card:after {
  content: "";
  display: table;
  clear: both;
}

.timeline__card--entry {
  clear: both;
  text-align: left;
  position: relative;
}
.timeline__card--entry .entry__title {
  margin-bottom: 0.5em;
  float: left;
  width: 15%;
  padding: .5rem 3rem 0 0;
  position: relative;
}
.timeline__card--entry .entry__title:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border: 4px solid var(--yellow);
  background-color: var(--yellow);
  border-radius: 100%;
  top: 35%;
  right: -5px;
  z-index: 99;
}
.timeline__card--entry .entry__title h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--yellow);
}
.timeline__card--entry .entry__title p {
  margin: 0;
  font-size: 100%;
}
.timeline__card--entry .entry__body {
  margin: 0 0 3em 1rem;
  float: right;
  width: 80%;
  padding: 1rem;
  background-color: var(--light-blue);
  border-radius: 5px;
  display: flex;
  position: relative;
}
.timeline__card--entry .entry__body p {
  line-height: 1.4em;
  color: var(--yellow);
}
.timeline__card--entry .entry__body i {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: var(--white);
}
.timeline__card--entry .entry__body .entry__body--detail {
  margin-left: 1rem;
  margin-right: 1rem;
}

.timeline__card--entry .entry__body .entry__body--detail .location {
  color: var(--light-sky-blue);
} 

.timeline__card--entry .entry__body .entry__body--detail .desc {
  color: var(--font-color);
} 

.timeline__card--entry .entry__body p:first-child {
  margin-top: 0;
  font-weight: 400;
}

.submit__button {
  width: 100%;
  height: 30px;
  border: 1px solid var(--light-blue);
  border-radius: 3px;
  background-color: var(--yellow);
}

@media screen and (max-width: 320px) {
  .timeline__card:before {
    display: none;
  }

  .timeline__card--entry .entry__title:before {
    display: none;
  }

  .timeline__flex li .timeline__list span {
    font-size: 1rem;
  }
}

@media screen and (min-width:320px) and (max-width: 767px) {
  .label {
    font-size: 1.2rem;
  }

  .header__text--primary {
    font-size: 2rem;
  }

  .patient-info__container {
    padding: 10rem 2rem 0 2rem;
  }

  .patient-info__text--primary {
    font-size: 1.6rem;
  }

  .patient-info__box {
    flex-direction: column;
  }

  .patient-info__box--1 {
    width: 100%;
  }
  .patient-info__box--2 {
    width: 100%;
  }
  .patient-info__box--3 {
    width: 100%;
  }

  .timeline__container {
    padding: 0 2rem 5rem 2rem;
  }

  .timeline__text--primary {
    font-size: 1.7rem;
  }

  .timeline__flex {
    flex-direction: column;
  }

  .timeline__flex--1 {
    width: 100%;
  }

  .timeline__flex--2 {
    width: 100%;
  }

  .textarea {
    height: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .timeline__card--entry {
    display: flex;
  }

  .timeline__card--entry .entry__title:before {
    top: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .timeline__card--entry .entry__title {
    width: 15%;
  }

  .timeline__card--entry .entry__body {
    width: 100%;
  }

  .timeline__card:before {
    left: 15%;
  }
}

@media screen and (min-width: 1440px) {
  .timeline__card--entry .entry__title {
    width: 10%;
  }

  .timeline__card:before {
    left: 10%;
  }
}
